<div class="container">
    <div class="users-list__create-wrapper">
        <button 
            class="users-list__create-user"
            (click)="createUser()"
        >Create User</button>
    </div>
    <table class="users-list__table">

        <tr class="users-list__title-row">
            <th *ngFor="let t of titles">{{t}}</th>
        </tr>
        <tr 
            *ngFor="let u of users" class="user-list__values-row"
            (click)="viewUserData(u)"
        >
            <td>{{u.username}}</td>
            <td>{{u.first_name}}</td>
            <td>{{u.last_name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.user_type}}</td>
        </tr>
        
        <tfoot>
            <tr>
                <td colspan="5"></td>
            </tr>
        </tfoot>
    </table>
</div>