.users-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-between;
    height: 80vh;
    width: 95%;
    margin: 56px auto;

    .users-list {
        width: 65%;
        height: 100%;
    }

    .user-form {
        width: 30%;
        height: 100%;
    }
}