$container-height: 710px;

.users-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-between;
    height: 80vh;
    width: 95%;
    margin: 56px auto;

    .users-list {
        width: 65%;
        height: $container-height;
        overflow-y: auto;
    }

    .user-form {
        width: 33%;
        height: $container-height;
    }
}