<div class="container">
    <form>
        <div class="form-control">
            <label>Username</label>
            <input type="text" placeholder="Username">
            <div class="validation"></div>
        </div>
        <div class="form-control">
            <label>First name</label>
            <input type="text" placeholder="First name">
            <div class="validation"></div>
        </div>
        <div class="form-control">
            <label>Last name</label>
            <input type="text" placeholder="Last name">
            <div class="validation"></div>
        </div>
        <div class="form-control">
            <label>Email</label>
            <input type="text" placeholder="Email">

            <div class="validation"></div>
        </div>
        <div class="form-control">
            <label>Password</label>
            <input type="password" placeholder="Password">
            <div class="validation"></div>
        </div>
        <div class="form-control">
            <label>Role</label>
            <select>
                <option value="Admin">Admin</option>
                <option value="Driver">Driver</option>
            </select>
            <div class="validation"></div>
        </div>
        <app-action-buttons [currentAction]="currentUserAction" ></app-action-buttons> 
    </form>
</div>