$font-name: Helvetica, sans-serif;

@mixin hover-btn {
    transition: background-color linear 250ms;
}

.action-buttons {
    margin-top: 16px;

    &.create {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.view {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input {
        width: 120px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        box-shadow: 0px 5px 8px #2E8FF029;
        border-radius: 6px;
        border: none;
        margin-bottom: 16px;
        font-size: 14px;
        font-family: $font-name;
        cursor: pointer;

        &[value="Create"],
        &[value="Update"] {
            background-color: #2e8ff0;
        
             &:hover{
                cursor: pointer;
                background-color: #2a84dd;
            }
        }

        &[value="Delete"] {
            background-color: #f44682;

            &:hover{
                cursor: pointer;
                background-color: #e5447b;
            }
        }
    }
}
